
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/db_info.php
/app/gdhome/DB_Info.php
###< symfony/framework-bundle ###
